#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  border: 2px solid black;
  padding: 40px;
}

.block {
  width: 50px;
  height: 50px;
  
  cursor: pointer;
  align-items: center;
  background-color: #A577E0;
border-radius: 12px;
}

#score {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

#level {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

#startButton {
  margin-top: 10px;
}
body
{
  position: absolute;
width: 1280px;
height: 832px;
left: 0px;
top: 0px;

background: url(space.jpg);
}
