/* #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  position: absolute;
} */

/* #container {
  position: absolute;
  width: 100vw;
  height: 75vh;
} */

#gameBoard {
  /* margin: auto auto; */
  width: 0px;
  display: grid;
  gap: 10px;
  place-self: center;
  position: absolute;
  left: 50%;
  top: 45%;
  /* padding-top: 20px; */
  /* transform: translate(-50%, -50%); */
  /* top: auto; */
  /* margin-left: -75px; */
}

.block {
  position: relative;
  /* left : 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, 0%); */
  /* width: 50px; */
  /* height: 50px; */
  /* margin: auto auto; */
  /* background-color: lightgray; */
  /* position: absolute; */
  width: 80px;
  height: 80px;
  /* left: 469px;
  top: 224px; */
  background: #C69EF8;
  border-radius: 12px;

  cursor: pointer;
  align-items: center;
}

#score {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 55px;

  position: absolute;
  width: 224px;
  height: 57px;
  /* left: 1039px;
  top: 737px; */
  /* bottom: 4%; */
  right: 2%;
  top: 4%;
  text-align: center;

  background: #C69EF8;
  border-radius: 36px;
}

#level {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 55px;

  position: absolute;
  width: 224px;
  height: 57px;
  /* left: 1039px;
  top: 737px; */
  top: 4%;
  left: 2%;
  text-align: center;

  background: #C69EF8;
  border-radius: 36px;
}

#startButton {
  /* margin-bottom: 10px; */
  /* position: absolute; */
  /* width: 207px;
  height: 69px;
  left: 537px;
  top: 467px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  /* line-height: 44px; */

  position: absolute;
  width: 224px;
  height: 57px;
  /* left: 1039px;
  top: 737px; */
  bottom: 16%;
  right: 2%;

  background: #C69EF8;
  border-radius: 36px;
}

#exit {
  /* margin-bottom: 10px; */
  /* position: absolute; */
  /* width: 207px;
  height: 69px;
  left: 537px;
  top: 467px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  /* line-height: 44px; */

  position: absolute;
  width: 224px;
  height: 57px;
  /* left: 1039px;
  top: 737px; */
  bottom: 4%;
  right: 2%;

  background: #C69EF8;
  border-radius: 36px;
}

body {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
  background: url(images/background.png);
}

/* .rectangle1 {
  position: absolute;
  width: 224px;
  height: 57px;
  margin-right: 0px;
  left: 100%;
  margin-left: -250px;
  top: 43px;
  
  background: #C69EF8;
  border-radius: 36px;
  } */